@model IEnumerable<MaryoNetwork.Models.Editors.Favorite>

@{
    ViewData["Title"] = "MyFavorites";
}

<h1>MyFavorites</h1>
<div class="d-flex flex-wrap justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card w-25 bg-dark m-4">
            @if (item.Editor.Image != null)
            {

                <img class="w-100 h-75" src="data:image/*;base64,@Convert.ToBase64String(item.Editor.Image)">
            }
            else
            {
                <img class="img img-responsive" src="">
            }
            <a asp-action="Details" asp-route-id="@item.Editor.Id" class="btn btn-outline-secondary showAlert">code</a>
            <div class="card-body">
                <h5 class="card-title">@item.Editor.Title</h5>
                <a class="d-flex" asp-controller="User" asp-action="Profile" asp-route-id="@item.Editor.User.Id">
                    @if (item.Editor.User.ProfilePicture != null)
                    {
                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@Convert.ToBase64String(item.Editor.User.ProfilePicture)">
                    }
                    else
                    {
                        <p class="text-center" style="width:40px;height:40px; background-color:forestgreen; font-weight:bold; object-fit:cover; border-radius:30px">@item.Editor.User.FullName.Substring(0, 2).ToUpper()</p>
                    }
                    <p class="card-text">@item.Editor.User.FullName</p>
                </a>
            </div>
        </div>
    }
</div>

