@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer


@{
    string fullName = null;
    string id = null;
    byte[] image = null;
    bool isOnline = false;
    if (SignInManager.IsSignedIn(User))
    {
        User user = await UserManager.FindByEmailAsync(User.Identity.Name);
        if (user != null)
        {
            fullName = user.FullName;
            id = user.Id;
            image = user.ProfilePicture;
            isOnline = user.IsOnline;
        }


    }
}


<div id="side" class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-header h-25 d-flex flex-column text-center align-items-center justify-content-center">
                <div class="user-pic">
                    <a href="/Identity/Account/Manage" class="d-flex">
                        @if (image != null)
                        {
                            if (isOnline == true)
                            {
                                <img class="profile-actif" src="data:image/*;base64,@Convert.ToBase64String(image)">
                            }
                            else
                            {
                                <img class="rounded-circle" src="data:image/*;base64,@Convert.ToBase64String(image)">
                            }

                        }
                        else
                        {
                            if (isOnline == true)
                            {
                                @*<p class="profile-actif">@fullName.Substring(0, 2).ToUpper()</p>*@
                                <img class="profile-actif" src="~/image/defaultProfile.png">
                            }
                            else
                            {
                                <img class="rounded-circle" src="~/image/defaultProfile.png">
                            }
                        }
                    </a>
                </div>
                <div class="user-info">
                    <span class="user-name">
                        <a href="/Identity/Account/Manage" class="d-flex">
                            <strong>@fullName</strong>
                        </a>
                    </span>
                    @if (User.IsInRole("admin"))
                    {
                        <span class="user-role">Administrator</span>
                    }
                    else
                    {
                        <span class="user-role">User</span>
                    }
                    @if (isOnline == true)
                    {
                        <span class="user-status">
                            <i class="fa fa-circle" style="color:greenyellow;"></i>
                            <span>Online</span>
                        </span>
                    }

                </div>
            </div>

            <div class="sidebar-menu" onclick="submitForms()">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>

                    <li class="sidebar-dropdown">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="far fa-gem"></i>
                            @localizer["Home"]
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <i class="far fa-gem"></i>
                            @localizer["Privacy"]
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">
                            <i class="far fa-gem"></i>
                            @localizer["Users"]
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#" class="text-light">
                            <i class="far fa-gem"></i>
                            <span>@localizer["MaryoCode"]</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a asp-controller="Editor" asp-action="Index" class="m-xl-2">Editor</a>
                                </li>
                                <li>
                                    <a asp-controller="Editor" asp-action="MyFavorites" class="m-xl-2">My Favorites</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        @if (User.IsInRole("admin"))
                        {
                            <a class="nav-link text-light" asp-area="" asp-controller="Dashboard" asp-action="Index">
                                <i class="far fa-gem"></i>
                                Dashboard
                            </a>
                        }
                    </li>
                    <li class="sidebar-dropdown">
                        <a class="nav-link text-light" asp-controller="Groups" asp-action="Index">
                            <i class="far fa-gem"></i>
                            Groups
                        </a>
                    </li>
                </ul>

            </div>
        </div>


    </nav>

</div>

<script>
    submitForms = function () {
        if (!('hasThisRunBefore' in localStorage)) {
            alert("plz peress any key for display result");
            localStorage.setItem("hasThisRunBefore", true);
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
