@model MaryoNetwork.ViewModels.ProfileViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    string fullName = null;
    string id = null;
    bool isOnligne = false;
    if (SignInManager.IsSignedIn(User))
    {
        User user = await UserManager.FindByEmailAsync(User.Identity.Name);
        if (user != null)
        {
            fullName = user.FullName;
            id = user.Id;
            isOnligne = user.IsOnline;
        }


    }
}

@{
    ViewData["Title"] = "Profile";
}




<form method="post" asp-controller="User" asp-action="Addfriend">
    <input type="hidden" name="ReceiverId" value="@Model.User.Id" />
    <button type="submit" class="btn btn-xs btn-primary">Add Friend</button>
</form>
            



<h1>Profile</h1>

<h1>@Model.User.FullName</h1>
@if (Model.User.ProfilePicture != null)
{
    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@Convert.ToBase64String(Model.User.ProfilePicture)">
}
else
{
    <p class="text-center" style="width:40px;height:40px; background-color:forestgreen; font-weight:bold; object-fit:cover; border-radius:30px">@Model.User.FullName.Substring(0, 2).ToUpper()</p>
}





<table class="table text-center">
    <thead>

        <tr>
            <td>User</td>
            <td>content</td>
            <td>title</td>
            <td>image</td>
            <td>Comment</td>
            <td>Like</td>
        </tr>
    </thead>
    <tbody>
            <h1>Image</h1>
        @foreach (var u in Model.Users)
        {
            @foreach (var img in u.Images)
            {
               
                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@Convert.ToBase64String(img.Data)">
                
            }

            @foreach (var p in u.Posts)
            {
                <tr>
                    <td>
                        <a asp-controller="User" asp-action="Profile" asp-route-id="@p.UserId">
                            @if (p.User.ProfilePicture != null)
                            {
                                <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@Convert.ToBase64String(p.User.ProfilePicture)">
                            }
                            else
                            {
                                <p class="text-center" style="width:40px;height:40px; background-color:forestgreen; font-weight:bold; object-fit:cover; border-radius:30px">@p.User.FullName.Substring(0, 2).ToUpper()</p>
                            }
                            @Html.DisplayFor(modelItem => u.FullName)
                        </a>
                    </td>
                    <td>@p.Category.Name</td>
                    <td>@p.Content</td>
                    <td>@p.Title</td>
                    <td>
                        @foreach (var f in p.Images)
                        {
                            <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@Convert.ToBase64String(f.Data)">
                        }
                    </td>
                    <td>
                        @*<form method="post" asp-controller="Post" asp-action="CreateComment">
                            <input type="text" name="Content" />
                            <input type="hidden" name="PostId" value="@item.Id" />
                            <input type="hidden" name="UserId" value="@id" />
                            <button type="submit" class="btn btn-xs btn-primary">Comment</button>
                        </form>*@
                        @foreach (var c in p.Comments)
                        {
                            <div class="d-flex">
                                <a asp-controller="User" asp-action="Profile" asp-route-id="@c.UserId">
                                    @Html.DisplayFor(modelItem => c.User.FullName)
                                    @if (c.User.ProfilePicture != null)
                                    {
                                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@Convert.ToBase64String(c.User.ProfilePicture)">
                                    }
                                    else
                                    {
                                        <p class="text-center" style="width:40px;height:40px; background-color:forestgreen; font-weight:bold; object-fit:cover; border-radius:30px">@c.User.FullName.Substring(0, 2).ToUpper()</p>
                                    }
                                </a>
                                <p>@c.Content</p>|
                                <p>@c.CreatedOn</p>|
                            </div>
                        }
                        <p class="comment-count-@(p.Id)">(@p.Comments.Count())</p>
                    </td>
                    <td>
                        <form method="post" asp-controller="Post" asp-action="LikePost">
                            <input type="hidden" name="PostId" value="@p.Id" />
                            <button type="submit" class="btn btn-xs btn-primary">like</button>
                        </form>
                        @*<p class="comment-count-@(p.Id)">@p.Likes.Count(null)</p>*@
                    </td>

                </tr>
            }

        }
    </tbody>
</table>