@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var post = Model.Input.Posts;
}



<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.ProfilePicture" style="width: 100%;"></label>
                    @if (Model.Input.ProfilePicture != null)
                    {
                        <img id="profilePicture" style="width:250px;height:250px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
                    }
                    else
                    {
                        <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="~/image/58417f6ba6515b1e0ad75a2b.png">
                    }
                    <input type="file"
                           accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="Input.ProfilePicture"
                           class="form-control"
                           style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.CoverPicture" style="width: 100%;"></label>
                    @if (Model.Input.CoverPicture != null)
                    {
                        <img id="coverPicture" style="width:250px;height:250px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.CoverPicture))">
                    }
                    else
                    {
                        <img id="coverPicture" style="width:350px;height:350px; object-fit:cover" src="~/image/web.jpg">
                    }
                    <input type="file"
                           accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="Input.CoverPicture"
                           class="form-control"
                           style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                           onchange="document.getElementById('coverPicture').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Input.CoverPicture" class="text-danger"></span>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>


    <table class="table text-center">
        <thead>

            <tr>
                <td>content</td>
                <td>title</td>
                <td>image</td>
                <td>User</td>
                <td>Comment</td>
                <td>Like</td>
                <td>Categoty</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in post)
            {
            <tr>
                <td>@item.Content</td>
                <td>@item.Title</td>
                <td>@item.Image</td>
                <td>@item.User.FullName</td>

                <td>
                    <form method="post" asp-controller="Post" asp-action="CreateComment">
                        <input type="text" name="Content" />
                        <input type="hidden" name="PostId" value="@item.Id" />
                        <button type="submit" class="btn btn-xs btn-primary">Comment</button>
                    </form>
                    @foreach (var i in item.Comments)
                    {
                        <p>@i.Content</p>
                        <p>@i.CreatedOn</p>
                        @Html.DisplayFor(modelItem => i.User.FullName)
                    }
                    <p class="comment-count-@(item.Id)">(@item.Comments.Count())</p>
                </td>
                <td>
                    <form method="post" asp-controller="Post" asp-action="LikePost">
                        <input type="hidden" name="PostId" value="@item.Id" />
                        <button type="submit" class="btn btn-xs btn-primary">like</button>
                    </form>
                    @*<p class="comment-count-@(item.Id)">@item.Likes.Count(null)</p>*@
                </td>
                <td>@item.Category.Name</td>
            </tr>

            }

        </tbody>
    </table>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}