@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var userAccount = new User();
    string fullName = null;
    string id = null;
    bool isOnline = false;
    if (SignInManager.IsSignedIn(User))
    {
        User user = await UserManager.FindByEmailAsync(User.Identity.Name);
        if (user != null)
        {
            fullName = user.FullName;
            id = user.Id;
            isOnline = user.IsOnline;
        }


    }
}
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var profile = Model.Input.Users;
    var friendRequest = Model.Input.FirendRequest;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
@foreach(var fr in friendRequest)
{
    if(fr.RequestStatusId == "3")
    {
        <div>
            <h1>you have a request friend from : @fr.Sender.FullName</h1>
            <form style="display:inline;" method="post" asp-controller="User" asp-action="ApproveFriend">
                <input type="hidden" name="Id" value="@fr.Id" />
                <input type="hidden" name="RequestStatus" value="1" />
                <button type="submit" class="btn btn-xs btn-outline-success">Approved</button>
            </form>
            <form style="display:inline;" method="post" asp-controller="User" asp-action="ApproveFriend">
                <input type="hidden" name="Id" value="@fr.Id" />
                <input type="hidden" name="RequestStatus" value="2" />
                <button type="submit" class="btn btn-xs btn-outline-warning">rejected</button>
            </form>
        </div>
    }
}


<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="profile-page tx-13">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="profile-header">
                    <div class="cover">
                        <figure>
                            <img class="w-100" src="https://bootdey.com/img/Content/bg1.jpg" alt="profile cover">
                        </figure>

                        <div class="cover-body d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="d-flex flex-column" style="width:100px;">
                                    @if (Model.Input.ProfilePicture != null)
                                    {

                                        <img id="profilePicture" style="width:100px;height:100px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
                                    }
                                    else
                                    {
                                        <img id="profilePicture" style="width:150px;height:150px; object-fit:cover" src="~/image/defaultProfile.png">
                                        @*<p class="text-center" style="width:40px;height:40px; background-color:forestgreen; font-weight:bold; object-fit:cover; border-radius:30px">@Model.Input.FullName.Substring(0, 2).ToUpper()</p>*@
                                    }
                                    <input type="file"
                                           accept=".png,.jpg,.jpeg,.gif,.tif"
                                           asp-for="Input.ProfilePicture"
                                           class="w-100"
                                           style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                                    <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>

                                </div>
                                <div>
                                    <input asp-for="Input.FullName" class="form-control border-0 bg-transparent text-light font-weight-bold" />
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="d-none d-md-block">
                                <button id="update-profile-button" type="submit" class="btn btn-primary btn-icon-text btn-edit-profile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit btn-icon-prepend">
                                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                    </svg> Save profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between mw-100">
                <div class="card p-2 m-1">
                    <h5>About : </h5>
                    <textarea asp-for="Input.About" class="form-control border-0 " style="height: 220px; background-color: #f4f2f2;"></textarea>
                    <span asp-validation-for="Input.About" class="text-danger"></span>
                    <h5>Email : </h5>
                    <input asp-for="Username" class="form-control border-0" style="background-color: #f4f2f2;" disabled/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <h5>Phone : </h5>
                    <input asp-for="Input.PhoneNumber" class="form-control border-0" style="background-color: #f4f2f2;" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    <h5>Country : </h5>
                    <input asp-for="Input.Country" class="form-control border-0 " style="background-color: #f4f2f2;" />
                    <span asp-validation-for="Input.Country" class="text-danger"></span>
                    <h5>Linkedin : </h5>
                    <input asp-for="Input.Linkedin" class="form-control border-0 " style="background-color: #f4f2f2;" />
                    <span asp-validation-for="Input.Linkedin" class="text-danger"></span>
                    <h5>Facebook : </h5>
                    <input asp-for="Input.Facebook" class="form-control border-0 " style="background-color: #f4f2f2;" />
                    <span asp-validation-for="Input.Facebook" class="text-danger"></span>
                    <h5>Github : </h5>
                    <input asp-for="Input.Github" class="form-control border-0 " style="background-color: #f4f2f2;" />
                    <span asp-validation-for="Input.Github" class="text-danger"></span>
                </div>
                <div>
                    @foreach (var user in profile)
                    {
                        @foreach (var post in user.Posts)
                        {
                            <div class="card pb-2 m-2">
                                <div class="d-flex justify-content-between p-2 px-3">
                                    <div class="d-flex flex-row align-items-center">
                                        @if (post.User.ProfilePicture != null)
                                        {
                                            if (post.User.IsOnline == true)
                                            {
                                                <img class="profile-actif" style="width:50px;" src="data:image/*;base64,@Convert.ToBase64String(post.User.ProfilePicture)">

                                            }
                                            else
                                            {
                                                <img class="rounded-circle" style="width:50px;" src="data:image/*;base64,@Convert.ToBase64String(post.User.ProfilePicture)">

                                            }
                                        }
                                        else
                                        {
                                            if (post.User.IsOnline == true)
                                            {
                                                <img class="profile-actif" src="~/image/defaultProfile.png">
                                            }
                                            else
                                            {

                                                <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="~/image/defaultProfile.png">
                                            }
                                        }
                                        <div class="d-flex flex-column ml-2">
                                            <a asp-controller="User" asp-action="Profile" asp-route-id="@post.UserId" class="font-weight-bold">@post.User.FullName</a>
                                            <small class="mr-2 text-dark">@post.CreatedOn</small>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-justify ml-5">@post.Content</p>
                                </div>
                                <div class="contentImg">
                                    @if (post.Images.Count == 1)
                                    {
                                        @foreach (var f in post.Images)
                                        {
                                            <img class="w-100" src="data:image/*;base64,@Convert.ToBase64String(f.Data)">
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var f in post.Images)
                                        {
                                            <img class="imgPost" src="data:image/*;base64,@Convert.ToBase64String(f.Data)">
                                        }
                                    }

                                </div>
                                <div class="p-2">

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex flex-row align-items-center muted-color">
                                            <img src="~/image/like.png"
                                                 onmouseover="document.getElementById('hoverLike').style.display = 'block';"
                                                 onmouseout="document.getElementById('hoverLike').style.display = 'none';" />
                                            <span>@post.Likes.Count()</span>
                                            <div class="bg-secondary p-2 border rounded" id="hoverLike">
                                                @foreach (var l in post.Likes)
                                                {
                                                    <h6>@l.User.FullName</h6>
                                                }
                                            </div>

                                        </div>
                                        <div class="d-flex flex-row muted-color">
                                            @if (post.CategoryId != null)
                                            {
                                                <a asp-controller="Post" asp-action="Index" asp-route-id="@post.CategoryId">category : @post.Category.Name</a>
                                            }
                                            else if (post.GroupId != null)
                                            {
                                                <a asp-controller="Groups" asp-action="Details" asp-route-id="@post.GroupId">group : @post.Group.Name</a>
                                            }
                                        </div>
                                        <div class="d-flex flex-row muted-color">
                                            <img src="~/image/comment.png" />
                                            <span>@post.Comments.Count() comments</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <hr style="background-color: gray">
                                    <div class="comments">
                                        @foreach (var i in post.Comments)
                                        {
                                            <div class="d-flex flex-row mb-2">
                                                <a asp-controller="User" asp-action="Profile" asp-route-id="@i.UserId">
                                                    @if (i.User.ProfilePicture != null)
                                                    {
                                                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@Convert.ToBase64String(i.User.ProfilePicture)">
                                                    }
                                                    else
                                                    {
                                                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="~/image/defaultProfile.png">
                                                    }
                                                </a>
                                                <div class="d-flex flex-column ml-2">
                                                    <a asp-controller="User" asp-action="Profile" asp-route-id="@i.UserId" class="name">@i.User.FullName</a> <small class="comment-text">@i.Content</small>
                                                    <div class="d-flex align-items-center text-dark"> <small>@i.CreatedOn</small></div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="card pb-2 m-2">
                    <h3>Photos</h3>
                    <div class="d-flex flex-wrap justify-content-between p-2">
                        @foreach (var user in profile)
                        {
                            foreach (var img in user.Images.Where(a=>a.UploadedById == id))
                            {
                                <img class="w-25" style="width:30px;" src="data:image/*;base64,@Convert.ToBase64String(img.Data)">
                            }

                        }
                    </div>
                    <hr />
                    <h3>Friends</h3>
                    <div>
                        @foreach (var user in profile)
                        {
                            @foreach (var item in user.FriendRequestReceived)
                            {
                                <div class="d-flex">
                                        @if (item != null && item.SenderId == id && item.RequestStatusId== "1")
                                        {
                                            <p>==> @item.Receiver.FullName</p>
                                        }
                                        @if (item != null && item.ReceiverId == id && item.RequestStatusId == "1")
                                        {
                                            <p>@item.Sender.FullName ==> </p>
                                        }
                                </div>
                            }
                        }
                    </div>
                    <hr />
                    <h3>Groups</h3>
                    <div class="d-flex justify-content-between ">
                        @foreach (var user in profile)
                        {
                            if (user.Members.Where(a => a.UserId == user.Id) != null)
                            {
                                <div class="d-flex flex-wrap justify-content-center" style="max-width:100%;">
                                    @foreach (var group in user.Members.Where(a=>a.UserId == id))
                                    {
                                        <div class="p-1 m-1" style="background-color: #B6B6B6;">
                                            <img style="max-width:100px; max-height:75px;" class="rounded" src="data:image/*;base64,@Convert.ToBase64String(group.Group.Image)">
                                            <p class="text-dark">@group.Group.Name</p>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <p>Nothings</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>       
</form>

    
<script type="text/javascript">
    function storePagePosition() {
        var page_y = window.pageYOffset;
        localStorage.setItem("page_y", page_y);
    }


    window.addEventListener("scroll", storePagePosition);


    var currentPageY;

    try {
        currentPageY = localStorage.getItem("page_y");

        if (currentPageY === undefined) {
            localStorage.setItem("page_y") = 0;
        }

        window.scrollTo(0, currentPageY);
    } catch (e) {
        // no localStorage available
    }
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}