@model IEnumerable<MaryoNetwork.Models.Groups.Group>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    string fullName = null;
    string id = null;
    byte[] image = null;
    bool isOnline = true;
    if (SignInManager.IsSignedIn(User))
    {
        User user = await UserManager.FindByEmailAsync(User.Identity.Name);
        if (user != null)
        {
            fullName = user.FullName;
            id = user.Id;
            image = user.ProfilePicture;
            isOnline = user.IsOnline;
        }


    }
}

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Groups" asp-action="Index">
    <input type="text" name="search" />
    <button class="btn btn-primary" id="searchBtn">search</button>
    <a class="btn btn-primary" id="searchBtn" asp-action="Index">*</a>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img class="w-25 h-25" src="data:image/*;base64,@Convert.ToBase64String(item.Image)">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @if (item.Members.SingleOrDefault(a => a.GroupId == item.Id && a.UserId == id) == null)
                    {
                        <form method="post" asp-controller="Groups" asp-action="Follow">
                            <input type="hidden" name="GroupId" value="@item.Id" />
                            <button type="submit" class="btn btn-xs btn-primary">Follow</button>
                        </form>
                    }
                    else
                    {
                        @foreach (var member in item.Members)
                        {
                            <form method="post" asp-controller="Groups" asp-action="Quitter">
                                <input type="hidden" name="Id" value="@member.Id" />
                                <button type="submit" class="btn btn-xs btn-danger">Quiiter le groupe</button>
                            </form>
                        }
                    }



                </td>

                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


